<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display user</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
    {% for user in users%}
    <h2>User {{user.id}}</h2>
    <p>Full Name: {{user.full_name}} </p>
    <p>Email: {{user.email}}</p>
    <p>Created at: {{user.created_at}}</p>
    <a href="/users/{{user.id}}/edit">Edit</a>
    <a href="/users/{{user.id}}/destroy">Delete</a>
    {% endfor %}
    </div>
    
    
</body>
</html>